<router-outlet></router-outlet>

<div [hidden]="!isWaiting()" class="waiting">
    <div style="height: 40%;"></div>
    calling server...
</div>

<hr/>

<i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i>

<button pButton type="button" icon="fa-check" iconPos="left" (click)="onclick()" label="Click me"></button>
You clicked the button {{clickCount}} times.

<div class="ContentSideSections">
    <div class="Content100 overHidden TextShadow">
        <span class="fontSize30 TextShadow orange mediumFont marginBottom20 dispBlock">PrimeNG Sample with Webpack</span>
        <span class="defaultText dispTable">This sample demonstrates a sample setup using Webpack.</span>
    </div>
</div>


<hr/>

<span class="content">
    <h1>{{title}}</h1>
    <h2>My Heroes</h2>
    <ul class="heroes">
        <li *ngFor="let hero of heroes"
            [class.selected]="hero === selectedHero"
            (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </li>
    </ul>
    <my-hero-detail [hero]="selectedHero"></my-hero-detail>
</span>

